<hr class="hr-side">
<div class="container">
  <div class="left-side">
    <input type="text" placeholder="Pesquisar..." class="search-bar">
    <h1>TechStockMaster</h1>
    <p>Olá, este site faz parte de um sistema de controle de estoque!</p>
  </div>

  <div class="imag">
    <img src="../../../../public/TechStok.png" alt="Tech Stock Image" srcset="">
  </div>

  <div class="right-side">
    <h2>Bem-vindo de volta, _________</h2>
    <p>Feliz em vê-lo novamente.</p>
    <button class="download-button">Relatório</button>
  </div>
</div>
<hr>
