<div class="container__sidebar">
  <div class="">
    <h2>Área de Menus</h2>
</div>
  <div class="">
    <ul>
        <li><a href="#">Menu Inicial</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Chamados</a></li>
        <li><a href="#">Estoque</a></li>
        <li><a href="#">Entradas</a></li>
        <li><a href="#">Saídas</a></li>
        <li><a href="#">Solicitações de compras</a></li>
        <li><a href="#">Solicitações de manutenções</a></li>
    </ul>
  </div>
</div>
